@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Fuggles&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 98%);
  color: hsl(234, 12%, 34%);
}

.container {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin: 2em;
  gap: 30px;
}
.container .title {
  text-align: center;
  display: flex;
  gap: 15px;
  flex-direction: column;
  max-width: 540px;
}
.container .title h1 {
  font-weight: 400;
  font-size: clamp(19px, 5vw, 38px);
  line-height: 1.4;
}
.container .title h1 span {
  display: block;
  font-weight: 700;
}
.container .title p {
  font-size: clamp(0.75rem, 3vw, 1rem);
}
.container .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  gap: 35px;
  margin: 0 1em;
}
.container .cards .card {
  background-color: hsl(0, 0%, 100%);
  border-top: 4px solid;
  padding: clamp(2rem, 3vw, 2.5rem);
  border-radius: 6px;
  gap: 50px;
  max-width: 410px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0px 18px 16px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.container .cards .card:nth-child(1) {
  border-color: hsl(177.6, 67.57%, 63.73%);
  grid-row-start: 2;
}
.container .cards .card:nth-child(2) {
  border-color: hsl(352.02, 77.58%, 56.27%);
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.container .cards .card:nth-child(3) {
  border-color: hsl(45.3, 100%, 49.61%);
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}
.container .cards .card:nth-child(4) {
  border-color: hsl(212.13, 63.27%, 51.96%);
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.container .cards .card .description {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container .cards .card .description h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
.container .cards .card .description p {
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(233, 8%, 62%);
}
.container .cards .card .icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 720px) {
  .container .cards {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */